<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="application-name" content="{{meta.appName}}">
    <title>{{meta.title}}</title>
    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="index" href="{{rootUrl}}">
    <link rel="canonical" href="{{rootUrl}}">
    <meta name="referrer" content="no-referrer">
    <link rel="manifest" href="manifest.json">
    <link rel="author" href="humans.txt">
    <link rel="me" href="{{kurt.email}}">
    <link rel="me" href="{{kurt.website}}" type="text/html">
    <link rel="search" href="opensearch.xml" type="application/opensearchdescription+xml" title="Search Title">

    <meta name="theme-color" content="{{theme.colour}}">
    <meta name="subject" content="{{meta.description}}">
    <meta name="description" content="{{meta.description}}">
    <meta name="rating" content="General">
    <meta name="robots" content="index,follow">

    <!-- Google -->
    <meta name="googlebot" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Apple -->
    <link rel="apple-touch-icon" type="image/png" sizes="76x76" href="{{images.favicon.x76}}">
    <link rel="apple-touch-icon" type="image/png" sizes="114x114" href="{{images.favicon.x114}}">
    <link rel="apple-touch-icon" type="image/png" sizes="120x120" href="{{images.favicon.x120}}">
    <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="{{images.favicon.x144}}">
    <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="{{images.favicon.x152}}">
    <link rel="mask-icon" href="{{images.maskIcon}}" color="{{theme.maskColour}}">
    <!-- <link rel="apple-touch-startup-image" href="/path/to/launch.png"> -->
    <meta name="apple-mobile-web-app-title" content="{{meta.appName}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{theme.appleStatusBar}}">

    <!-- Twitter -->
    <meta name="twitter:card" content="{{twitter.metaImageSize}}">
    <meta name="twitter:site" content="{{twitter.handle}}">
    <meta name="twitter:creator" content="{{kurt.twitter}}">
    <meta name="twitter:url" content="{{rootUrl}}">
    <meta name="twitter:title" content="{{meta.appName}}">
    <meta name="twitter:description" content="{{meta.description}}">
    <meta name="twitter:image" content="{{images.twitter}}">
    <meta name="twitter:image:alt" content="{{twitter.imageAlt}}">

    <!-- Facebook -->
    <meta property="og:url" content="{{rootUrl}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{meta.title}}">
    <meta property="og:image" content="{{images.facebook}}">
    <meta property="og:image:alt" content="{{twitter.imageAlt}}">
    <meta property="og:description" content="{{meta.description}}">
    <meta property="og:site_name" content="{{meta.title}}">
    <meta property="og:locale" content="en_UK">
    <meta property="article:author" content="{{kurt.name}}">

    <!-- Microsoft -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="msapplication-TileColor" content="{{theme.maskColour}}">
    <meta name="msapplication-starturl" content="/?pwa-app" />

    {{#each preconnectLinks}}
    <link rel="preconnect" href="{{this}}">
    {{/each}}

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/icomoon.css">

    {{!-- JSON-LD --}}
    <script nonce="schema" type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Person",
            "name": "{{kurt.name}}",
            "givenName": "{{kurt.name}}",
            "familyName": "{{kurt.name}}",
            "additionalName": "{{kurt.additionalName}}",
            "url": "{{rootUrl}}",
            "image": "{{kurt.image}}",
            "description": "{{meta.description}}",
            "jobTitle": "{{kurt.jobTitle}}",
            "owns": [
                {
                    "@type": "OwnershipInfo",
                    "name": "{{assistantApps.name}}",
                    "url": "{{assistantApps.rootUrl}}"
                }
            ]
        }
    </script>
</head>

<body>
    <div class="page-wrapper">
        <div class="header">
            <div class="container-nav">
                <div class="header-left-side">
                    <a href="/" class="navbar-logo hidden-in-desktop">
                        <img src="/assets/favicon/apple-touch-icon-76x76.png" alt="AssistantNMS - Logo">
                        <h4>Assistant for No Man's Sky</h4>
                    </a>
                    <nav role="navigation" class="nav-menu w-nav-menu">
                        <a href="/" aria-current="page" class="nav-link w-nav-link w--current">Home</a>
                        <div data-hover="false" data-delay="0" data-w-id="ea5936a3-0d16-fb6f-4694-bbb4aab17797"
                            class="header-dropdown w-dropdown">
                            <div class="header-dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-0"
                                aria-controls="w-dropdown-list-0" aria-haspopup="menu" aria-expanded="false"
                                role="button" tabindex="0">
                                <div class="dropdown-text">Pages&nbsp;<span class="dropdown-icon"></span></div>
                            </div>
                            <nav class="dropdown-list w-dropdown-list"
                                style="display: none; height: 0px; transform: translate3d(0px, 0px, 0px) scale3d(0.5, 0.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;"
                                id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0">
                                <div class="mega-menu-container">
                                    <div class="basic-grid mega-menu-grid">
                                        <div>
                                            <h4 class="mega-menu-title">Pages</h4>
                                            <div class="menu-2-columns">
                                                <div class="mega-menu-column-4"><a href="/" aria-current="page"
                                                        class="mega-menu-link w--current" tabindex="0">Home v1</a>
                                                    <a href="/home-v2" class="mega-menu-link" tabindex="0">Home
                                                        v2</a>
                                                    <a href="/blog" class="mega-menu-link" tabindex="0">Blog</a>
                                                    <a href="/pricing" class="mega-menu-link" tabindex="0">Pricing</a>
                                                    <a href="/contact-us" class="mega-menu-link-2"
                                                        tabindex="0">Contact</a>
                                                </div>
                                                <div class="mega-menu-column-2"><a href="/about-us"
                                                        class="mega-menu-link" tabindex="0">About Us</a>
                                                    <a href="/careers" class="mega-menu-link" tabindex="0">Careers</a>
                                                    <a href="/job/ios-ui-ux-designer" class="mega-menu-link"
                                                        tabindex="0">Job Post</a>
                                                    <a href="/reviews" class="mega-menu-link" tabindex="0">Reviews</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mega-menu-column-3">
                                            <h4 class="mega-menu-title">Utility Pages</h4>
                                            <a href="/utility-pages/styleguide" class="mega-menu-link"
                                                tabindex="0">Styleguide</a>
                                            <a href="https://appstemplate.webflow.io/404" class="mega-menu-link"
                                                tabindex="0">404 Not Found</a>
                                            <a href="https://appstemplate.webflow.io/401" class="mega-menu-link"
                                                tabindex="0">Password</a>
                                            <a href="/utility-pages/licenses" class="mega-menu-link"
                                                tabindex="0">Licenses</a>
                                            <a href="/utility-pages/start-here" class="mega-menu-link"
                                                tabindex="0">Start Here</a>
                                            <a href="/utility-pages/changelog" class="mega-menu-link"
                                                tabindex="0">Changelog</a>
                                            <a href="https://brixtemplates.com/more-templates"
                                                class="mega-menu-link special" tabindex="0">Browse More Templates</a>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div data-hover="false" data-delay="0" data-w-id="e4026961-f1f1-9b8b-a440-89e703372108"
                            class="header-dropdown-mobile w-dropdown">
                            <div class="header-dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-1"
                                aria-controls="w-dropdown-list-1" aria-haspopup="menu" aria-expanded="false"
                                role="button" tabindex="0">
                                <div class="dropdown-text">Pages&nbsp;<span class="dropdown-icon"></span></div>
                            </div>
                            <nav class="dropdown-list w-dropdown-list" id="w-dropdown-list-1"
                                aria-labelledby="w-dropdown-toggle-1" style="display: none; height: 0px; opacity: 0;">
                                <div class="mega-menu-container">
                                    <div class="basic-grid mega-menu-grid">
                                        <div class="mega-menu-column-1"><a href="/" aria-current="page"
                                                class="mega-menu-link w--current" tabindex="0">Home v1</a>
                                            <a href="/home-v2" class="mega-menu-link" tabindex="0">Home v2</a>
                                        </div>
                                        <div class="mega-menu-column-2"><a href="/blog" class="mega-menu-link"
                                                tabindex="0">Blog</a>
                                            <a href="/pricing" class="mega-menu-link" tabindex="0">Pricing</a>
                                            <a href="/contact-us" class="mega-menu-link" tabindex="0">Contact</a>
                                            <a href="/about-us" class="mega-menu-link" tabindex="0">About Us</a>
                                            <a href="/careers" class="mega-menu-link" tabindex="0">Careers</a>
                                            <a href="/job/ios-ui-ux-designer" class="mega-menu-link" tabindex="0">Job
                                                Post</a>
                                            <a href="/reviews" class="mega-menu-link" tabindex="0">Reviews</a>
                                        </div>
                                        <div class="mega-menu-column-3">
                                            <h4 class="mega-menu-title">Utility Pages</h4><a
                                                href="/utility-pages/styleguide" class="mega-menu-link"
                                                tabindex="0">Styleguide</a>
                                            <a href="https://appstemplate.webflow.io/404" class="mega-menu-link"
                                                tabindex="0">404 Not Found</a>
                                            <a href="https://appstemplate.webflow.io/401" class="mega-menu-link"
                                                tabindex="0">Password</a>
                                            <a href="/utility-pages/licenses" class="mega-menu-link"
                                                tabindex="0">Licenses</a>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div><a href="/blog" class="nav-link w-nav-link">Blog</a>
                        <a href="/contact-us" class="nav-link w-nav-link">Support</a>
                    </nav>
                </div>
                <div class="header-right-side">
                    <div class="nav-button">
                        <a href="https://appstemplate.webflow.io/#Download-App" class="button-secondary">
                            <img src="/assets/img/download.png" alt="AssistantNMS - Logo" class="mg-right-8px">
                            <div class="button-text">Download</div>
                        </a>
                    </div>
                    <div class="menu-icon w-nav-button" style="-webkit-user-select: text;" aria-label="menu"
                        role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu"
                        aria-expanded="false">
                        <div class="menu-icon-top-line"></div>
                        <div class="menu-icon-middle-line"></div>
                        <div class="menu-icon-bottom-line"></div>
                    </div>
                </div>
            </div>
        </div>
        <section class="section hero">
            <div class="background-parallax-img">
                <div class="content">
                    <img src="/assets/img/bg-hero.svg" alt="background image" />
                </div>
            </div>
            <div class="container-1180px">
                <div class="basic-grid grid-hero">
                    <div id="landing-hero" class="grid-hero-left-block">
                        <img src="/assets/favicon/apple-touch-icon-76x76.png" alt="AssistantNMS - Logo"
                            class="app-icon">
                        <h1>Assistant for&nbsp;<wbr/>No Man's Sky</h1>
                        <p class="paragraph-large">
                            View all the possible recipes, live status of Community events and so much more from your
                            phone and everywhere else!
                        </p>
                        <div class="mt-2">
                            <div class="store-links-container">
                                <a href="{{store.ios}}" class="button-primary">
                                    <img src="/assets/img/AppStoreIcon.png" alt="Apple App Store Logo">
                                    <div class="button-text">Apple App Store</div>
                                </a>
                                <a href="{{store.android}}" class="button-primary">
                                    <img src="/assets/img/PlayStoreIcon.png" alt="Google Play Logo">
                                    <div class="button-text">Google Play</div>
                                </a>
                                <a href="{{store.webApp}}" class="button-primary">
                                    <img src="/assets/img/WebVersionIcon.png" alt="WebApp Logo">
                                    <div class="button-text">Web App</div>
                                </a>
                                <a href="{{store.windows}}" class="button-primary">
                                    <img src="/assets/img/WindowsStoreIcon.png" alt="Windows Logo">
                                    <div class="button-text">Windows</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-hero-right-block">
                        <div class="hero-img-stack">
                            <img class="hero-image-bg" src="/assets/img/hero-img.svg" alt="background shadow" />

                            <div id="hero-parallax-scene1" class="hero-image">
                                <img data-depth="0.05" src="/assets/img/phoneWithApp.png"
                                    alt="phone with app running" />
                            </div>
                            <div id="hero-parallax-scene2" class="hero-image-cm">
                                <img data-depth="0.25" src="/assets/img/cooking.png" alt="community mission panel" />
                            </div>
                            <div id="hero-parallax-scene3" class="hero-image-qs">
                                <img data-depth="0.5" src="/assets/img/quicksilverReward.png"
                                    alt="community mission panel" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section socials">
            <div class="container-1180px">
                <h2 class="ta-center">Our Socials</h2>
                <div class="basic-grid grid-logos mt-2">
                    <div class="badge-wrapper">
                        <img src="/assets/img/companies/twitter.png" alt="Twitter" />
                    </div>
                    <div class="badge-wrapper">
                        <img src="/assets/img/companies/discord.svg" alt="Discord Server" />
                    </div>
                    <div class="badge-wrapper">
                        <img src="/assets/img/companies/github.png" alt="Github organisation" />
                    </div>
                    <div class="badge-wrapper">
                        <img src="/assets/img/companies/facebook.svg" alt="Facebook page" />
                    </div>
                    <div class="badge-wrapper">
                        <img src="/assets/img/companies/steam.png" alt="Steam Community group" />
                    </div>
                </div>
            </div>
        </section>
        <section id="Features" class="section">
            <div class="container-1180px">
                <h2 class="ta-center">Features</h2>
                <div class="container-600px ta-center">
                    <h3 style="font-weight: 100;">Powerful features to supercharge your productivity</h3>
                </div>
                <div class="card-feature top">
                    <div class="basic-grid feature-grid">
                        <div class="right-block-card-feature">
                            <img src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083290463da79b_seamless-team-collaboration-and-task-assignment.png"
                                alt="Team Collaboration - App Webflow Template" class="left-image-feature">
                        </div>
                        <div class="left-block-card-feature">
                            <img src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083243e23da7a5_features-icon-1-apps.svg"
                                alt="Team Collaboration Icon - App Webflow Template">
                            <div class="margin-bottom-6px">
                                <h3>Seamless team-collaboration &amp; task assignment</h3>
                            </div>
                            <p>Thanks to the built-in team collaboration features, you will always be on the same page
                                with your teammates.</p>
                        </div>
                    </div>
                </div>
                <div data-w-id="9a06e6a7-f6a0-5e4e-9703-2aa864ae1ddf" class="card-feature bottom"
                    style="will-change: opacity, transform; opacity: 0.25; transform: translate3d(0px, 0px, 0px) scale3d(0.8, 0.8, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    <div class="basic-grid feature-grid bottom">
                        <div id="w-node-_9a06e6a7-f6a0-5e4e-9703-2aa864ae1de3-ae3da77d"
                            class="left-block-card-feature bottom"><img
                                src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083276af3da7a6_features-icon-2-apps.svg"
                                alt="Built-in Integrations Icon - App Webflow Template">
                            <div class="margin-bottom-6px">
                                <h3>Built-in integrations that adapt to your unique workflow</h3>
                            </div>
                            <p>With our 15+ native integrations you will be able to connect our app with any app that is
                                already in your workflow, and you will take your productivity to the next level.</p>
                        </div>
                        <div id="w-node-_9a06e6a7-f6a0-5e4e-9703-2aa864ae1de1-ae3da77d"
                            class="right-block-card-feature bottom"><img
                                src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/601de21ff5b1450bc59adf55_instegrations-apps-template-webflow.png"
                                sizes="(max-width: 479px) 79vw, (max-width: 767px) 77vw, (max-width: 991px) 67vw, 617.0028076171875px"
                                srcset="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/601de21ff5b1450bc59adf55_instegrations-apps-template-webflow-p-500.png 500w, https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/601de21ff5b1450bc59adf55_instegrations-apps-template-webflow-p-800.png 800w, https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/601de21ff5b1450bc59adf55_instegrations-apps-template-webflow.png 1282w"
                                alt="Built-in Integrations - App Webflow Template" class="right-image-feature"></div>
                    </div>
                </div>
                <h3 data-w-id="a5e5dc9e-2cdd-e5eb-999d-160447eac27c" style="opacity: 1;" class="text-center">And many
                    more amazing features!</h3>
                <div class="basic-grid grid-secondary-features">
                    <div data-w-id="f944489e-598e-9e21-e592-9c8b98f8414d" style="opacity: 1;"><img
                            src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f08325d803da7a1_secondary-icon-01.svg"
                            alt="Seamless Sync Icon - App Webflow Template" class="icon-secondary-feature">
                        <h4 class="title-secondary-feature">Seamless Sync</h4>
                        <p>Any update on your tasks will be instantly synced through all your devices, no extra work
                            needed.</p>
                    </div>
                    <div data-w-id="edeb566b-c0c4-d822-be55-ed7d71b8fbfc" style="opacity: 1;"><img
                            src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f08325d9b3da79d_secondary-icon-02.svg"
                            alt="Smart Tags Icon - App Webflow Template" class="icon-secondary-feature">
                        <h4 class="title-secondary-feature">Smart Tags</h4>
                        <p>Smartly categorize your new or current tasks with tags to keep all your work organized.</p>
                    </div>
                    <div data-w-id="19edcd1e-4a8e-0b31-8158-380f0752fc57" style="opacity: 1;"><img
                            src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f0832a2203da7a0_secondary-icon-03.svg"
                            alt="Notifications Icon - App Webflow Template" class="icon-secondary-feature">
                        <h4 class="title-secondary-feature">On-point Notifications</h4>
                        <p>Receive smart notifications about tasks expiring soon, or by any other custom trigger you
                            need.</p>
                    </div>
                    <div data-w-id="38453dc1-fc84-f79d-2a41-395b2b10d6ed" style="opacity: 1;"><img
                            src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f08320bad3da79f_secondary-icon-04.svg"
                            alt="Powerful Automation Icon - App Webflow Template" class="icon-secondary-feature">
                        <h4 class="title-secondary-feature">Powerful Automation</h4>
                        <p>Don't work over and over again, take advantage of all our automation features to make your
                            work easier.</p>
                    </div>
                    <div data-w-id="a5372966-8611-309f-7e40-ceae0bb47b42" style="opacity: 1;"><img
                            src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083260e43da79e_secondary-icon-05.svg"
                            alt="Multiple Views Icon - App Webflow Template" class="icon-secondary-feature">
                        <h4 class="title-secondary-feature">Multiple Views</h4>
                        <p>View your tasks in List, Board or Timeline view, depending on what’s better for your project.
                        </p>
                    </div>
                    <div data-w-id="d34aadd2-28a0-e40a-7c93-35d991ddb5d7" style="opacity: 1;"><img
                            src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083235b33da7a2_secondary-icon-06.svg"
                            alt="100% Customizable Icon - App Webflow Template" class="icon-secondary-feature">
                        <h4 class="title-secondary-feature">100% Customizable</h4>
                        <p>Thanks to our custom fields, you can customize Apps to be perfectly tailored to your needs.
                        </p>
                    </div>
                </div>
                <div class="flex-vc"><a href="#Download-App" data-w-id="1d5e76eb-8981-250f-34ca-5af3c6313202"
                        style="opacity: 1;" class="button-primary large w-inline-block"><img
                            src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083277793da793_download-icon.svg"
                            alt="Download Icon - Apps Webflow Template" class="mg-right-8px">
                        <div class="button-text">Download App</div>
                    </a></div>
            </div>
        </section>
        <section id="Customers" class="section bg-primary-1">
            <div class="container-1180px">
                <div class="basic-grid grid-testimonial">
                    <div id="w-node-_0556131b-5262-376c-6a79-96e4c3c9365f-ae3da77d"
                        data-w-id="0556131b-5262-376c-6a79-96e4c3c9365f" style="opacity: 1;"
                        class="grid-testimonial-left-side">
                        <h2 class="testimonials-title color-white">Don’t just take our word for it!</h2>
                        <p class="paragraph-large color-grey-light">Thousands of professionals and business are already
                            enjoying Apps. Hear what some of they are saying!</p>
                        <div class="mg-top-32px"><a href="#Download-App"
                                class="button-secondary large w-inline-block"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083267253da7a7_primary-color-download-icon.svg"
                                    alt="Arrow Icon - App Webflow Template" class="mg-right-8px">
                                <div class="button-text">Download App</div>
                            </a></div>
                    </div>
                    <div data-w-id="9edda2be-7fc6-894f-8661-b570947ff8b3" style="opacity: 1;"
                        class="grid-testimonial-right-side">
                        <div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider"
                            data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false"
                            data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true"
                            role="region" aria-label="carousel">
                            <div class="w-slider-mask" id="w-slider-mask-0">
                                <div class="w-slide" aria-label="1 of 2" role="group"
                                    style="transform: translateX(0px); opacity: 1;">
                                    <div class="testimonial-card-wrapper">
                                        <div class="testimonial-top">
                                            <div class="testimonial-details"><img
                                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083238623da7ab_john-carter.jpg"
                                                    width="72" alt="John Carter - App Webflow Template"
                                                    class="testimonial-avatar">
                                                <div>
                                                    <div class="testimonial-name">John Carter</div>
                                                    <div class="testimonial-role">VP of Sales at Webflow</div>
                                                </div>
                                            </div>
                                            <div><img
                                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f08321ced3da7ac_review-5-stars.svg"
                                                    alt="Testimonials Stars - Apps Webflow Template"></div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui integer in amet
                                            nunc, fusce. Tortor, proin tellus nullam nunc amet. Ac at purus ac neque.
                                            Venenatis ut”</p>
                                    </div>
                                </div>
                                <div class="w-slide" aria-label="2 of 2" role="group" aria-hidden="true"
                                    style="transform: translateX(0px); opacity: 1;">
                                    <div class="testimonial-card-wrapper" aria-hidden="true">
                                        <div class="testimonial-top" aria-hidden="true">
                                            <div class="testimonial-details" aria-hidden="true"><img
                                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083238623da7ab_john-carter.jpg"
                                                    width="72" alt="John Carter - App Webflow Template"
                                                    class="testimonial-avatar" aria-hidden="true">
                                                <div aria-hidden="true">
                                                    <div class="testimonial-name" aria-hidden="true">John Carter</div>
                                                    <div class="testimonial-role" aria-hidden="true">VP of Sales at
                                                        Webflow</div>
                                                </div>
                                            </div>
                                            <div aria-hidden="true"><img
                                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f08321ced3da7ac_review-5-stars.svg"
                                                    alt="Testimonials Stars - Apps Webflow Template" aria-hidden="true">
                                            </div>
                                        </div>
                                        <p aria-hidden="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Dui integer in amet nunc, fusce. Tortor, proin tellus nullam nunc amet. Ac
                                            at purus ac neque. Venenatis ut”</p>
                                    </div>
                                </div>
                                <div aria-live="off" aria-atomic="true" class="w-slider-aria-label" data-wf-ignore="">
                                </div>
                            </div>
                            <div class="left-arrow w-slider-arrow-left" role="button" tabindex="0"
                                aria-controls="w-slider-mask-0" aria-label="previous slide"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083223bc3da7ae_arrow-slider-left.svg"
                                    alt="Arrow Icon - App Webflow Template" class="arrow-image"></div>
                            <div class="right-arrow w-slider-arrow-right" role="button" tabindex="0"
                                aria-controls="w-slider-mask-0" aria-label="next slide"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083234fd3da7ad_arrow-slider-right.svg"
                                    alt="Arrow Icon - App Webflow Template" class="arrow-image"></div>
                            <div class="testiomonial-slider-dots w-slider-nav w-round">
                                <div class="w-slider-dot w-active" data-wf-ignore="" aria-label="Show slide 1 of 2"
                                    aria-pressed="true" role="button" tabindex="0"
                                    style="margin-left: 3px; margin-right: 3px;"></div>
                                <div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 2 of 2"
                                    aria-pressed="false" role="button" tabindex="-1"
                                    style="margin-left: 3px; margin-right: 3px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="FAQS" class="section">
            <div class="container-700px text-center">
                <div class="flex-vc">
                    <div data-w-id="fd0f45cc-84af-db2b-cab0-902c0609b44d" style="opacity: 1;" class="badge">FAQS</div>
                </div>
                <h2 data-w-id="c996a163-9f39-acb0-2f05-b0cfbebc4564" style="opacity: 1;">Frequently Asked Questions</h2>
                <p data-w-id="b17c33bb-086c-9888-464f-a8f2b0d4d536" style="opacity: 1;" class="paragraph-large">Have
                    questions? We’ve answers. If you can’t find what we are looking for, feel free to <a
                        href="/contact-us">get in touch</a>.</p>
            </div>
            <div class="container-800px">
                <div data-w-id="40229d38-0fcf-7bfc-4ed9-341b68b0aed5" style="opacity: 1;" class="faq-container">
                    <div data-delay="0" data-hover="false" data-w-id="40229d38-0fcf-7bfc-4ed9-341b68b0aed6"
                        style="height: 84px;" class="faq-item-wrapper w-dropdown">
                        <div class="faq-top-wrapper w-dropdown-toggle" id="w-dropdown-toggle-2"
                            aria-controls="w-dropdown-list-2" aria-haspopup="menu" aria-expanded="false" role="button"
                            tabindex="0">
                            <div class="faq-question">Can I request a new feature for Apps?</div><img
                                src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77b4c234e76c5b61b70b2a_plus-icon.svg"
                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                alt="" class="open-close-icon">
                        </div>
                        <nav class="faq-body w-dropdown-list" id="w-dropdown-list-2"
                            aria-labelledby="w-dropdown-toggle-2">
                            <div class="answer-wrapper">
                                <p class="faq-answer-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                                    ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
                                    faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                                    tristique posuere.</p>
                            </div>
                        </nav>
                    </div>
                    <div data-delay="0" data-hover="false" data-w-id="40229d38-0fcf-7bfc-4ed9-341b68b0aedf"
                        style="height: 84px;" class="faq-item-wrapper w-dropdown">
                        <div class="faq-center-wrapper w-dropdown-toggle" id="w-dropdown-toggle-3"
                            aria-controls="w-dropdown-list-3" aria-haspopup="menu" aria-expanded="false" role="button"
                            tabindex="0">
                            <div class="faq-question">Can I download Apps data into Excel or CSV?</div><img
                                src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77b4c234e76c5b61b70b2a_plus-icon.svg"
                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                alt="" class="open-close-icon">
                        </div>
                        <nav class="faq-body w-dropdown-list" id="w-dropdown-list-3"
                            aria-labelledby="w-dropdown-toggle-3">
                            <div class="answer-wrapper">
                                <p class="faq-answer-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                                    ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
                                    faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                                    tristique posuere.</p>
                            </div>
                        </nav>
                    </div>
                    <div data-delay="0" data-hover="false" data-w-id="40229d38-0fcf-7bfc-4ed9-341b68b0aee8"
                        style="height: 84px;" class="faq-item-wrapper w-dropdown">
                        <div class="faq-center-wrapper w-dropdown-toggle" id="w-dropdown-toggle-4"
                            aria-controls="w-dropdown-list-4" aria-haspopup="menu" aria-expanded="false" role="button"
                            tabindex="0">
                            <div class="faq-question">Does Apps team offer 1-on-1 support?</div><img
                                src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77b4c234e76c5b61b70b2a_plus-icon.svg"
                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                alt="" class="open-close-icon">
                        </div>
                        <nav class="faq-body w-dropdown-list" id="w-dropdown-list-4"
                            aria-labelledby="w-dropdown-toggle-4">
                            <div class="answer-wrapper">
                                <p class="faq-answer-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                                    ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
                                    faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                                    tristique posuere.</p>
                            </div>
                        </nav>
                    </div>
                    <div data-delay="0" data-hover="false" data-w-id="40229d38-0fcf-7bfc-4ed9-341b68b0aef1"
                        style="height: 84px;" class="faq-item-wrapper w-dropdown">
                        <div class="faq-bottom-wrapper w-dropdown-toggle" id="w-dropdown-toggle-5"
                            aria-controls="w-dropdown-list-5" aria-haspopup="menu" aria-expanded="false" role="button"
                            tabindex="0">
                            <div class="faq-question">Can I invite my teammates to Apps?</div><img
                                src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77b4c234e76c5b61b70b2a_plus-icon.svg"
                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                alt="" class="open-close-icon">
                        </div>
                        <nav class="faq-body w-dropdown-list" id="w-dropdown-list-5"
                            aria-labelledby="w-dropdown-toggle-5">
                            <div class="answer-wrapper last">
                                <p class="faq-answer-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                                    ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
                                    faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                                    tristique posuere.</p>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
        <section class="section bg-secondary-4">
            <div class="container-1180px">
                <div class="basic-grid grid-video">
                    <div data-w-id="a695c57b-8dba-f67e-efd2-bee8ad5fb611" style="opacity: 1;">
                        <h2 class="mg-top-0px">Discover how Apps is boosting team’s productivity worldwide</h2>
                        <p class="paragraph-large">Watch our case study of how Google’s marketing team boost their
                            productivity by collaborating on Apps.</p>
                        <div class="mg-top-32px"><a href="#" class="w-inline-block w-lightbox"
                                aria-label="open lightbox" aria-haspopup="dialog">
                                <div class="button-video"><img
                                        src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f0832544d3da7af_play.svg"
                                        alt="Play Icon - App Webflow Template" class="play-icon-button">
                                    <div class="button-text video">Play Video</div>
                                </div>
                                <script type="application/json" class="w-json">{
  "items": [
    {
      "url": "https://www.youtube.com/watch?v=09_QxCcBEyU",
      "originalUrl": "https://www.youtube.com/watch?v=09_QxCcBEyU",
      "width": 940,
      "height": 528,
      "thumbnailUrl": "https://i.ytimg.com/vi/09_QxCcBEyU/hqdefault.jpg",
      "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F09_QxCcBEyU%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D09_QxCcBEyU&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F09_QxCcBEyU%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
      "type": "video"
    }
  ],
  "group": ""
}</script>
                            </a></div>
                    </div>
                    <div id="w-node-_021dd0cc-93bc-945b-a902-7d142a552300-ae3da77d"
                        data-w-id="021dd0cc-93bc-945b-a902-7d142a552300" style="opacity: 1;"><a href="#"
                            class="w-inline-block w-lightbox" aria-label="open lightbox" aria-haspopup="dialog"><img
                                src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083255b13da7b1_video-thumbnail.png"
                                width="605" sizes="(max-width: 767px) 90vw, 605px"
                                srcset="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083255b13da7b1_video-thumbnail-p-500.png 500w, https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083255b13da7b1_video-thumbnail-p-800.png 800w, https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083255b13da7b1_video-thumbnail.png 1210w"
                                alt="Boosting Team Productivity - App Webflow Template" class="video-thumbnail">
                            <script type="application/json" class="w-json">{
  "items": [
    {
      "url": "https://www.youtube.com/watch?v=09_QxCcBEyU",
      "originalUrl": "https://www.youtube.com/watch?v=09_QxCcBEyU",
      "width": 940,
      "height": 528,
      "thumbnailUrl": "https://i.ytimg.com/vi/09_QxCcBEyU/hqdefault.jpg",
      "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F09_QxCcBEyU%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D09_QxCcBEyU&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F09_QxCcBEyU%2Fhqdefault.jpg&key=c4e54deccf4d4ec997a64902e9a30300&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
      "type": "video"
    }
  ],
  "group": ""
}</script>
                        </a></div>
                </div>
            </div>
        </section>
        <section id="Download-App" class="section">
            <div class="container-700px text-center apps">
                <h2 data-w-id="bdc4ab7a-58b0-ea2c-bfee-a99bd9f60c4b" style="opacity: 1;">Ready to take your productivity
                    to the next level? Download Apps today!</h2>
                <p data-w-id="56065992-0d70-dbb1-5f81-62e999e749d1" style="opacity: 1;" class="paragraph-large">Are you
                    ready to make the leap? Download Apps for iOS or Android today — it's free.</p>
            </div>
            <div class="container-1180px">
                <div class="basic-grid grid-download-columns">
                    <div data-w-id="06405e1a-401b-9511-0a99-ee0619e3208d" class="download-column-android"
                        style="will-change: opacity, transform; opacity: 0.25; transform: translate3d(0px, 0px, 0px) scale3d(0.8, 0.8, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <div class="download-content">
                            <h3 class="download-title">Android</h3>
                            <p class="download-text">Are you ready to make the leap? Download Apps for Android today —
                                it's free.</p><a href="https://play.google.com/store"
                                class="button-primary download w-button">Download for Android</a>
                        </div><img
                            src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083213993da7b2_android-phone.png"
                            width="550" sizes="(max-width: 767px) 90vw, 550px"
                            srcset="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083213993da7b2_android-phone-p-500.png 500w, https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083213993da7b2_android-phone.png 1100w"
                            alt="Android App Mobile - App Webflow Template">
                    </div>
                    <div data-w-id="89d369ef-0846-e2c1-3175-5fe8125f6966" class="download-column-ios"
                        style="will-change: opacity, transform; opacity: 0.25; transform: translate3d(0px, 0px, 0px) scale3d(0.8, 0.8, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <div class="download-content">
                            <h3 class="download-title color-white">iOS &amp; iPadOS</h3>
                            <p class="download-text color-grey-light">Are you ready to make the leap? Download Apps for
                                iOS today — it's free.</p><a href="https://www.apple.com/ios/app-store/"
                                class="button-secondary download w-button">Download for iOS</a>
                        </div><img
                            src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e7c271eee55b00a6451adf5_ios-ipad-os-phone.png"
                            width="550" sizes="(max-width: 767px) 90vw, 550px"
                            srcset="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e7c271eee55b00a6451adf5_ios-ipad-os-phone-p-500.png 500w, https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e7c271eee55b00a6451adf5_ios-ipad-os-phone.png 1100w"
                            alt="iOS and iPadOS App Mobile - App Webflow Template">
                    </div>
                </div>
            </div>
        </section>
        <section class="section bg-secondary-4">
            <div class="container-700px text-center">
                <h2 data-w-id="06ea06c7-9862-461a-0e4a-d24dee55b831" style="opacity: 1;">Our latest news</h2>
                <p data-w-id="06ea06c7-9862-461a-0e4a-d24dee55b833" style="opacity: 1;" class="paragraph-large">What’s
                    new on Apps. Tips for productivity, team workflows, task, projects management and much more!</p>
            </div>
            <div class="container-1180px">
                <div class="latest-news-wrapper">
                    <div data-w-id="06ea06c7-9862-461a-0e4a-d24dee55b837" style="opacity: 1;" class="w-dyn-list">
                        <div role="list" class="grid-cards w-dyn-items">
                            <div role="listitem" class="post-card w-dyn-item"><a
                                    href="/post/5-new-amazing-integrations-to-improve-your-team-workflow"
                                    class="post-card-content w-inline-block"><img width="418"
                                        src="https://assets.website-files.com/5e9607aab907e735e233a67e/601de2724244e15b954a1590_integrations-blog-apps-webflow-template.png"
                                        alt="5 Amazing Integrations to Improve your Workflow"
                                        sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 46vw, (max-width: 1279px) 30vw, (max-width: 1439px) 359.34375px, (max-width: 1919px) 386px, 426px"
                                        srcset="https://assets.website-files.com/5e9607aab907e735e233a67e/601de2724244e15b954a1590_integrations-blog-apps-webflow-template-p-500.png 500w, https://assets.website-files.com/5e9607aab907e735e233a67e/601de2724244e15b954a1590_integrations-blog-apps-webflow-template-p-800.png 800w, https://assets.website-files.com/5e9607aab907e735e233a67e/601de2724244e15b954a1590_integrations-blog-apps-webflow-template-p-1080.png 1080w, https://assets.website-files.com/5e9607aab907e735e233a67e/601de2724244e15b954a1590_integrations-blog-apps-webflow-template-p-1600.png 1600w, https://assets.website-files.com/5e9607aab907e735e233a67e/601de2724244e15b954a1590_integrations-blog-apps-webflow-template-p-2000.png 2000w, https://assets.website-files.com/5e9607aab907e735e233a67e/601de2724244e15b954a1590_integrations-blog-apps-webflow-template-p-2600.png 2600w, https://assets.website-files.com/5e9607aab907e735e233a67e/601de2724244e15b954a1590_integrations-blog-apps-webflow-template.png 3842w"
                                        class="card-featured-image">
                                    <div class="post-card-content-wrapper">
                                        <div class="blog-category-wrapper">
                                            <div>Integrations</div>
                                        </div>
                                        <h3 class="blog-post-title">5 Amazing Integrations to Improve your Workflow</h3>
                                        <div class="blog-post-date">April 7, 2021</div>
                                        <div class="mg-top-19px">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere nisi
                                                odio lorem in. Magna purus nulla placerat in</p>
                                        </div>
                                        <div class="post-card-link-text">Read Article</div>
                                    </div>
                                </a></div>
                            <div role="listitem" class="post-card w-dyn-item"><a
                                    href="/post/turn-emails-attachments-into-to-dos-with-apps"
                                    class="post-card-content w-inline-block"><img width="418"
                                        src="https://assets.website-files.com/5e9607aab907e735e233a67e/5e9a0dbe5e8c4ffaf19b3e11_article-image-02-apps-template.png"
                                        alt="Turn Emails &amp; Attachments Into To-Dos with Apps"
                                        sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 46vw, (max-width: 1279px) 30vw, (max-width: 1439px) 359.34375px, (max-width: 1919px) 386px, 426px"
                                        srcset="https://assets.website-files.com/5e9607aab907e735e233a67e/5e9a0dbe5e8c4ffaf19b3e11_article-image-02-apps-template-p-500.png 500w, https://assets.website-files.com/5e9607aab907e735e233a67e/5e9a0dbe5e8c4ffaf19b3e11_article-image-02-apps-template-p-800.png 800w, https://assets.website-files.com/5e9607aab907e735e233a67e/5e9a0dbe5e8c4ffaf19b3e11_article-image-02-apps-template-p-1080.png 1080w, https://assets.website-files.com/5e9607aab907e735e233a67e/5e9a0dbe5e8c4ffaf19b3e11_article-image-02-apps-template.png 1710w"
                                        class="card-featured-image">
                                    <div class="post-card-content-wrapper">
                                        <div class="blog-category-wrapper">
                                            <div>Features</div>
                                        </div>
                                        <h3 class="blog-post-title">Turn Emails &amp; Attachments Into To-Dos with Apps
                                        </h3>
                                        <div class="blog-post-date">April 7, 2021</div>
                                        <div class="mg-top-19px">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere nisi
                                                odio lorem in. Magna purus nulla placerat in.</p>
                                        </div>
                                        <div class="post-card-link-text">Read Article</div>
                                    </div>
                                </a></div>
                            <div role="listitem" class="post-card w-dyn-item"><a
                                    href="/post/introducing-new-design-for-our-ios-application"
                                    class="post-card-content w-inline-block"><img width="418"
                                        src="https://assets.website-files.com/5e9607aab907e735e233a67e/5e9a0dcccd75780196bfc19a_article-image-03-apps-template.png"
                                        alt="Introducing New Apps Design for our iOS App"
                                        sizes="(max-width: 479px) 92vw, (max-width: 767px) 93vw, (max-width: 991px) 46vw, (max-width: 1279px) 30vw, (max-width: 1439px) 359.34375px, (max-width: 1919px) 386px, 426px"
                                        srcset="https://assets.website-files.com/5e9607aab907e735e233a67e/5e9a0dcccd75780196bfc19a_article-image-03-apps-template-p-500.png 500w, https://assets.website-files.com/5e9607aab907e735e233a67e/5e9a0dcccd75780196bfc19a_article-image-03-apps-template-p-800.png 800w, https://assets.website-files.com/5e9607aab907e735e233a67e/5e9a0dcccd75780196bfc19a_article-image-03-apps-template-p-1080.png 1080w, https://assets.website-files.com/5e9607aab907e735e233a67e/5e9a0dcccd75780196bfc19a_article-image-03-apps-template.png 1711w"
                                        class="card-featured-image">
                                    <div class="post-card-content-wrapper">
                                        <div class="blog-category-wrapper">
                                            <div>Updates</div>
                                        </div>
                                        <h3 class="blog-post-title">Introducing New Apps Design for our iOS App</h3>
                                        <div class="blog-post-date">April 7, 2021</div>
                                        <div class="mg-top-19px">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere nisi
                                                odio lorem in. Magna purus nulla placerat in.</p>
                                        </div>
                                        <div class="post-card-link-text">Read Article</div>
                                    </div>
                                </a></div>
                        </div>
                    </div>
                </div>
                <div class="flex-vc"><a href="/blog" data-w-id="06ea06c7-9862-461a-0e4a-d24dee55b849"
                        style="opacity: 1;" class="button-primary large w-inline-block">
                        <div class="button-text">View More Articles</div>
                    </a></div>
            </div>
        </section>

        <assistant-apps-patreon-list />

        <footer data-w-id="71417737-5b4b-a09e-2591-ff5af838e990" class="footer" style="opacity: 1;">
            <div class="container-1180px">
                <div class="basic-grid footer-top">
                    <div id="w-node-_71417737-5b4b-a09e-2591-ff5af838e993-f838e990" class="footer-column-1"><a href="/"
                            aria-current="page" class="footer-logo w-inline-block w--current"><img
                                src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/60a7cf1142adae13ec1cc408_logo.svg"
                                alt="Apps Webflow Template - Logo"></a>
                        <p class="footer-paragraph">A simple, yet effective way to be more productive.</p>
                        <div class="footer-social-media"><a href="https://facebook.com"
                                class="social-icon w-inline-block"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f08320a4b3da7b4_facebook-logo.svg"
                                    alt="Facebook Icon - Apps Webflow Template"></a>
                            <a href="https://twitter.com" class="social-icon w-inline-block"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f08322c303da7b6_twitter-logo.svg"
                                    alt="Twitter Icon - Apps Webflow Template"></a>
                            <a href="https://instagram.com" class="social-icon w-inline-block"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083253593da7b5_instagram-logo.svg"
                                    alt="Instagram Icon - Apps Webflow Template"></a>
                            <a href="https://linkedin.com" class="social-icon w-inline-block"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f0832b4df3da7b7_linkedin-logo.svg"
                                    alt="LinkedIn Icon - Apps Webflow Template"></a>
                        </div>
                    </div>
                    <div id="w-node-_06ca93af-6509-e5f3-2f23-17e35bbeb58f-f838e990" class="footer-column-2">
                        <h4 class="footer-title">Menu</h4>
                        <ul role="list" class="footer-list w-list-unstyled">
                            <li class="footer-list-item"><a href="/" aria-current="page"
                                    class="nav-link-footer w--current">Home v1</a></li>
                            <li class="footer-list-item"><a href="/home-v2" class="nav-link-footer">Home v2</a></li>
                            <li class="footer-list-item"><a href="/about-us" class="nav-link-footer">About Us</a></li>
                            <li class="footer-list-item"><a href="/blog" class="nav-link-footer">Blog</a></li>
                            <li class="footer-list-item"><a href="/contact-us" class="nav-link-footer">Support</a></li>
                            <li class="footer-list-item"><a href="/careers" class="nav-link-footer">Careers</a></li>
                            <li class="footer-list-item"><a href="/job/ios-ui-ux-designer" class="nav-link-footer">Job
                                    Post</a></li>
                            <li class="footer-list-item"><a href="/reviews" class="nav-link-footer">Reviews</a></li>
                        </ul>
                    </div>
                    <div id="w-node-beb69711-6805-67f8-ca3c-94cfe2e04c55-f838e990" class="footer-column-3">
                        <h4 class="footer-title">Utility Pages</h4>
                        <ul role="list" class="footer-list w-list-unstyled">
                            <li class="footer-list-item"><a href="/utility-pages/styleguide"
                                    class="nav-link-footer">Styleguide</a></li>
                            <li class="footer-list-item"><a href="https://appstemplate.webflow.io/404"
                                    class="nav-link-footer">404 Not Found</a></li>
                            <li class="footer-list-item"><a href="https://appstemplate.webflow.io/401"
                                    class="nav-link-footer">Password Protected</a></li>
                            <li class="footer-list-item"><a href="/utility-pages/licenses"
                                    class="nav-link-footer">Licenses</a></li>
                            <li class="footer-list-item"><a href="/utility-pages/start-here"
                                    class="nav-link-footer">Start Here</a></li>
                            <li class="footer-list-item"><a href="/utility-pages/changelog"
                                    class="nav-link-footer">Changelog</a></li>
                            <li class="footer-list-item"><a href="https://brixtemplates.com/more-templates"
                                    class="nav-link-footer special">Browse More Templates</a></li>
                        </ul>
                    </div>
                    <div id="w-node-_71417737-5b4b-a09e-2591-ff5af838e99f-f838e990" class="footer-column-4">
                        <h4 class="footer-title">Download our App</h4>
                        <p class="footer-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio
                            egestas quam porta.</p>
                        <div class="_2-buttons-container"><a href="https://www.apple.com/ios/app-store/"
                                class="app-download-button small footer-button w-inline-block"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f08323df43da790_app-store-button.svg"
                                    alt="Apps Store - Apps Webflow Template" class="app-store-image small"></a>
                            <a href="https://play.google.com/store"
                                class="app-download-button small w-inline-block"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f0832838a3da798_play-store-button.svg"
                                    alt="Google Play - Apps Webflow Template" class="play-store-image small"></a>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="copyright">© Copyright Apps | Designed by <a href="https://brixtemplates.com/">BRIX
                            Templates</a> - Powered by <a href="https://webflow.com/">Webflow</a></div>
                </div>
            </div>
        </footer>
    </div>
    <img data-0="transform:rotate(0deg);left:110vw;" data-500="transform:rotate(-25deg);left:85vw;"
        data-3000="left:85vw;" data-3250="transform:rotate(0deg);left:100vw;" src="./assets/img/planetCrafter2.png"
        class="parallax-pc2 hidden-in-mobile" alt="image with parallax" />
</body>
<script async defer src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<script async defer src="https://assistantapps.github.io/WebComponents/build/bundle.js"></script>
<script async defer src="./assets/js/skrollr.min.js"></script>
<script async defer src="./assets/js/custom.js"></script>

</html>

</html>