<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="application-name" content="{{meta.appName}}">
    <title>{{meta.title}}</title>
    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="index" href="{{rootUrl}}">
    <link rel="canonical" href="{{rootUrl}}">
    <meta name="referrer" content="no-referrer">
    <link rel="manifest" href="manifest.json">
    <link rel="author" href="humans.txt">
    <link rel="me" href="{{kurt.email}}">
    <link rel="me" href="{{kurt.website}}" type="text/html">
    <link rel="search" href="opensearch.xml" type="application/opensearchdescription+xml" title="Search Title">

    <meta name="theme-color" content="{{theme.colour}}">
    <meta name="subject" content="{{meta.description}}">
    <meta name="description" content="{{meta.description}}">
    <meta name="rating" content="General">
    <meta name="robots" content="index,follow">

    <!-- Google -->
    <meta name="googlebot" content="index,follow">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Apple -->
    <link rel="apple-touch-icon" type="image/png" sizes="76x76" href="{{images.favicon.x76}}">
    <link rel="apple-touch-icon" type="image/png" sizes="114x114" href="{{images.favicon.x114}}">
    <link rel="apple-touch-icon" type="image/png" sizes="120x120" href="{{images.favicon.x120}}">
    <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="{{images.favicon.x144}}">
    <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="{{images.favicon.x152}}">
    <link rel="mask-icon" href="{{images.maskIcon}}" color="{{theme.maskColour}}">
    <!-- <link rel="apple-touch-startup-image" href="/path/to/launch.png"> -->
    <meta name="apple-mobile-web-app-title" content="{{meta.appName}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{theme.appleStatusBar}}">

    <!-- Twitter -->
    <meta name="twitter:card" content="{{twitter.metaImageSize}}">
    <meta name="twitter:site" content="{{twitter.handle}}">
    <meta name="twitter:creator" content="{{kurt.twitter}}">
    <meta name="twitter:url" content="{{rootUrl}}">
    <meta name="twitter:title" content="{{meta.appName}}">
    <meta name="twitter:description" content="{{meta.description}}">
    <meta name="twitter:image" content="{{images.twitter}}">
    <meta name="twitter:image:alt" content="{{twitter.imageAlt}}">

    <!-- Facebook -->
    <meta property="og:url" content="{{rootUrl}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{meta.title}}">
    <meta property="og:image" content="{{images.facebook}}">
    <meta property="og:image:alt" content="{{twitter.imageAlt}}">
    <meta property="og:description" content="{{meta.description}}">
    <meta property="og:site_name" content="{{meta.title}}">
    <meta property="og:locale" content="en_UK">
    <meta property="article:author" content="{{kurt.name}}">

    <!-- Microsoft -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="msapplication-TileColor" content="{{theme.maskColour}}">
    <meta name="msapplication-starturl" content="/?pwa-app" />

    {{#each preconnectLinks}}
    <link rel="preconnect" href="{{this}}">
    {{/each}}

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/icomoon.css">

    {{!-- JSON-LD --}}
    <script nonce="schema" type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Person",
            "name": "{{kurt.name}}",
            "givenName": "{{kurt.name}}",
            "familyName": "{{kurt.name}}",
            "additionalName": "{{kurt.additionalName}}",
            "url": "{{rootUrl}}",
            "image": "{{kurt.image}}",
            "description": "{{meta.description}}",
            "jobTitle": "{{kurt.jobTitle}}",
            "owns": [
                {
                    "@type": "OwnershipInfo",
                    "name": "{{assistantApps.name}}",
                    "url": "{{assistantApps.rootUrl}}"
                }
            ]
        }
    </script>
</head>

<body id="app-body" class="is-loading">
    <div class="page-wrapper">
        <div class="header">
            <div class="container-nav">
                <div class="header-left-side">
                    <a href="/" class="navbar-logo hidden-in-desktop">
                        <img src="/assets/favicon/apple-touch-icon-76x76.png" alt="AssistantNMS - Logo"
                            class="hidden-in-mobile">
                        <h4>Assistant for No Man's Sky</h4>
                    </a>
                    <nav role="navigation" class="nav-menu w-nav-menu hidden-in-mobile">
                        <div class="header-dropdown w-dropdown">
                            <div class="header-dropdown-toggle w-dropdown-toggle">
                                <div class="dropdown-text">Pages&nbsp;<span class="dropdown-icon"></span></div>
                            </div>
                            <nav class="dropdown-list w-dropdown-list">
                                <div class="mega-menu-container">
                                    <div class="basic-grid mega-menu-grid">
                                        <h4 class="mega-menu-title">Pages</h4>
                                        <div class="menu-2-columns">
                                            <div class="mega-menu-column-4"><a href="/" aria-current="page"
                                                    class="mega-menu-link w--current" tabindex="0">Home v1</a>
                                                <a href="/home-v2" class="mega-menu-link" tabindex="0">Home
                                                    v2</a>
                                                <a href="/blog" class="mega-menu-link" tabindex="0">Blog</a>
                                                <a href="/pricing" class="mega-menu-link" tabindex="0">Pricing</a>
                                                <a href="/contact-us" class="mega-menu-link-2" tabindex="0">Contact</a>
                                            </div>
                                            <div class="mega-menu-column-2"><a href="/about-us" class="mega-menu-link"
                                                    tabindex="0">About Us</a>
                                                <a href="/careers" class="mega-menu-link" tabindex="0">Careers</a>
                                                <a href="/job/ios-ui-ux-designer" class="mega-menu-link"
                                                    tabindex="0">Job Post</a>
                                                <a href="/reviews" class="mega-menu-link" tabindex="0">Reviews</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <a href="/blog" class="nav-link w-nav-link">Blog</a>
                        <a href="/contact-us" class="nav-link w-nav-link">Support</a>
                    </nav>
                </div>
                <div class="header-right-side hidden-in-mobile">
                    <div class="nav-button">
                        <a href="https://appstemplate.webflow.io/#Download-App" class="button-secondary">
                            <img src="/assets/img/download.png" alt="AssistantNMS - Logo" class="mg-right-8px">
                            <div class="button-text">Download</div>
                        </a>
                    </div>
                </div>
                <nav class="navbar-mobile hidden-in-desktop">
                </nav>
            </div>
        </div>
        <section class="section hero">
            <div class="background-parallax-img">
                <div class="content">
                    <img src="/assets/img/bg-hero.svg" alt="background image" />
                </div>
            </div>
            <div class="container-1180px">
                <div class="basic-grid grid-hero">
                    <div id="landing-hero" class="grid-hero-left-block">
                        <img src="/assets/favicon/apple-touch-icon-76x76.png" alt="AssistantNMS - Logo"
                            class="app-icon">
                        <h1>Assistant for&nbsp;<wbr/>No Man's Sky</h1>
                        <p class="paragraph-large">
                            View all the possible recipes, live status of Community events and so much more from your
                            phone and everywhere else!
                        </p>
                        <div class="mt-2">
                            <div class="store-links-container">
                                <a href="{{store.ios}}" class="button-primary">
                                    <img src="/assets/img/AppStoreIcon.png" alt="Apple App Store Logo">
                                    <div class="button-text">Apple App Store</div>
                                </a>
                                <a href="{{store.android}}" class="button-primary">
                                    <img src="/assets/img/PlayStoreIcon.png" alt="Google Play Logo">
                                    <div class="button-text">Google Play</div>
                                </a>
                                <a href="{{store.webApp}}" class="button-primary">
                                    <img src="/assets/img/WebVersionIcon.png" alt="WebApp Logo">
                                    <div class="button-text">Web App</div>
                                </a>
                                <a href="{{store.windows}}" class="button-primary">
                                    <img src="/assets/img/WindowsStoreIcon.png" alt="Windows Logo">
                                    <div class="button-text">Windows</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-hero-right-block">
                        <div class="hero-img-stack">
                            <img class="hero-image-bg" src="/assets/img/hero-img.svg" alt="background shadow" />

                            <div class="hero-parallax hero-image">
                                <img data-depth="0.05" src="/assets/img/screenshots/phone-bg.png"
                                    class="hero-image-bg-offset hidden-till-loaded" alt="phone with app running" />
                                <img data-depth="0.05" src="/assets/img/screenshots/phoneWithApp.png"
                                    alt="phone with app running" />
                            </div>
                            <div class="hero-parallax hero-image-cm">
                                <img data-depth="0.25" src="/assets/img/screenshots/cooking.png"
                                    alt="community mission panel" />
                            </div>
                            <div class="hero-parallax hero-image-qs">
                                <img data-depth="0.5" src="/assets/img/screenshots/quicksilverReward.png"
                                    alt="community mission panel" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section socials">
            <div class="container-1180px">
                <h2 class="ta-center">Our Socials</h2>
                <div class="basic-grid grid-logos mt-2">
                    {{#each socials as |social index|}}
                    <a href="{{urlref social.url}}" title="{{social.name}}" class="badge-wrapper" target="_blank"
                        rel="noopener noreferrer">
                        <img src="{{social.imgUrl}}" alt="{{social.name}}" />
                    </a>
                    {{/each}}
                </div>
            </div>
        </section>
        <section id="Features" class="section">
            <div class="container-1180px">
                <h2 class="ta-center">Features</h2>
                <div class="container-600px ta-center">
                    <h3 style="font-weight: 100;">Powerful features to supercharge your gameplay 🎮</h3>
                </div>
                <div class="card-feature top">
                    <div class="basic-grid feature-grid">
                        <div class="right-block-card-feature">
                            <div class="feature-img-stack">
                                <div class="feature-image alt">
                                    <img src="/assets/img/screenshots/phone-bg.png"
                                        class="feature-image-bg-offset hidden-in-mobile" alt="phone with app running" />
                                    <img src="/assets/img/screenshots/phoneWithStasis.png"
                                        alt="phone with app running" />
                                </div>
                                <div class="feature-image-1 alt hidden-in-mobile">
                                    <img src="/assets/img/screenshots/phoneWithStasisOverlay.png" alt="app overlay" />
                                </div>
                            </div>
                        </div>
                        <div class="left-block-card-feature">
                            <img src="/assets/img/interconnected.png" alt="interconnected icon">
                            <div class="margin-bottom-6px">
                                <h3>Packed with data</h3>
                            </div>
                            <p>
                                Comprehensive amount of data displayed for each item with a links to other items.<br />
                                See how to craft, refine and cook an item as well as how an item can be used in other
                                crafting, refining and cooking recipes.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-feature bottom">
                    <div class="basic-grid feature-grid bottom">
                        <div class="left-block-card-feature bottom">
                            <img src="/assets/img/live.png" alt="connected icon" />
                            <div class="margin-bottom-6px">
                                <h3>View live event statuses</h3>
                            </div>
                            <p>
                                View live in-game events such as the Community Missions, Weekend Missions and
                                Expeditions all from within the app with live and accurate data.
                            </p>
                        </div>
                        <div class="right-block-card-feature bottom">
                            <div class="feature-img-stack">
                                <div class="feature-image">
                                    <img src="/assets/img/screenshots/phone-bg.png"
                                        class="feature-image-bg-offset hidden-in-mobile" alt="phone with app running" />
                                    <img src="/assets/img/screenshots/phoneWithExp.png" alt="phone with app running" />
                                </div>
                                <div class="feature-image-1 hidden-in-mobile">
                                    <img src="/assets/img/screenshots/phoneWithExpOverlay.png"
                                        alt="community mission panel" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-feature top third">
                    <div class="basic-grid feature-grid">
                        <div class="right-block-card-feature">
                            <div class="feature-img-stack">
                                <div class="feature-image alt">
                                    <img src="/assets/img/screenshots/phone-bg.png"
                                        class="feature-image-bg-offset hidden-in-mobile" alt="phone with app running" />
                                    <img src="/assets/img/screenshots/phoneWithCommunity.png"
                                        alt="phone with app running" />
                                </div>
                                <div class="feature-image-1 alt hidden-in-mobile">
                                    <img src="/assets/img/screenshots/phoneWithCommunityOverlay.png"
                                        alt="app overlay" />
                                </div>
                            </div>
                        </div>
                        <div class="left-block-card-feature">
                            <img src="/assets/img/community.png" alt="Team Collaboration Icon - App Webflow Template">
                            <div class="margin-bottom-6px">
                                <h3>Connect with the community</h3>
                            </div>
                            <p>
                                Community resources integrated into the app. Easily find No Man's Sky content creators!
                                Listen to community made ByteBeat music provided by the NMSFM 🎵.
                            </p>
                        </div>
                    </div>
                </div>

                <h3 class="ta-center">And many more amazing features!</h3>
            </div>
        </section>
        <section id="Customers" class="section bg-primary-1">
            <div class="container-1180px">
                <div class="basic-grid grid-testimonial">
                    <div class="grid-testimonial-left-side">
                        <h2 class="testimonials-title color-white">Don't just take our word for it!</h2>
                        <p class="paragraph-large color-grey-light">
                            Over 100 000 downloads and thousands of reviews! We listen to and read all of your reviews.
                            The apps could not be in the state that it is without the community that has supported it!
                        </p>
                    </div>
                    <div class="grid-testimonial-right-side">
                        <div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider"
                            data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false"
                            data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true"
                            role="region" aria-label="carousel">
                            <div class="w-slider-mask" id="w-slider-mask-0">
                                <div class="w-slide" aria-label="1 of 2" role="group"
                                    style="transform: translateX(0px); opacity: 1;">
                                    <div class="testimonial-card-wrapper">
                                        <div class="testimonial-top">
                                            <div class="testimonial-details"><img
                                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083238623da7ab_john-carter.jpg"
                                                    width="72" alt="John Carter - App Webflow Template"
                                                    class="testimonial-avatar">
                                                <div>
                                                    <div class="testimonial-name">John Carter</div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui integer in amet
                                            nunc, fusce. Tortor, proin tellus nullam nunc amet. Ac at purus ac neque.
                                            Venenatis ut”</p>
                                    </div>
                                </div>
                                <div class="w-slide" aria-label="2 of 2" role="group" aria-hidden="true"
                                    style="transform: translateX(0px); opacity: 1;">
                                    <div class="testimonial-card-wrapper" aria-hidden="true">
                                        <div class="testimonial-top" aria-hidden="true">
                                            <div class="testimonial-details" aria-hidden="true"><img
                                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083238623da7ab_john-carter.jpg"
                                                    width="72" alt="John Carter - App Webflow Template"
                                                    class="testimonial-avatar" aria-hidden="true">
                                                <div aria-hidden="true">
                                                    <div class="testimonial-name" aria-hidden="true">John Carter</div>
                                                    <div class="testimonial-role" aria-hidden="true">VP of Sales at
                                                        Webflow</div>
                                                </div>
                                            </div>
                                            <div aria-hidden="true"><img
                                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f08321ced3da7ac_review-5-stars.svg"
                                                    alt="Testimonials Stars - Apps Webflow Template" aria-hidden="true">
                                            </div>
                                        </div>
                                        <p aria-hidden="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Dui integer in amet nunc, fusce. Tortor, proin tellus nullam nunc amet. Ac
                                            at purus ac neque. Venenatis ut”</p>
                                    </div>
                                </div>
                                <div aria-live="off" aria-atomic="true" class="w-slider-aria-label" data-wf-ignore="">
                                </div>
                            </div>
                            <div class="left-arrow w-slider-arrow-left" role="button" tabindex="0"
                                aria-controls="w-slider-mask-0" aria-label="previous slide"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083223bc3da7ae_arrow-slider-left.svg"
                                    alt="Arrow Icon - App Webflow Template" class="arrow-image"></div>
                            <div class="right-arrow w-slider-arrow-right" role="button" tabindex="0"
                                aria-controls="w-slider-mask-0" aria-label="next slide"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083234fd3da7ad_arrow-slider-right.svg"
                                    alt="Arrow Icon - App Webflow Template" class="arrow-image"></div>
                            <div class="testiomonial-slider-dots w-slider-nav w-round">
                                <div class="w-slider-dot w-active" data-wf-ignore="" aria-label="Show slide 1 of 2"
                                    aria-pressed="true" role="button" tabindex="0"
                                    style="margin-left: 3px; margin-right: 3px;"></div>
                                <div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 2 of 2"
                                    aria-pressed="false" role="button" tabindex="-1"
                                    style="margin-left: 3px; margin-right: 3px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="FAQS" class="section">
            <div class="container-700px text-center">
                <div class="flex-vc">
                    <div data-w-id="fd0f45cc-84af-db2b-cab0-902c0609b44d" style="opacity: 1;" class="badge">FAQS</div>
                </div>
                <h2 data-w-id="c996a163-9f39-acb0-2f05-b0cfbebc4564" style="opacity: 1;">Frequently Asked Questions</h2>
                <p data-w-id="b17c33bb-086c-9888-464f-a8f2b0d4d536" style="opacity: 1;" class="paragraph-large">Have
                    questions? We’ve answers. If you can’t find what we are looking for, feel free to <a
                        href="/contact-us">get in touch</a>.</p>
            </div>
            <div class="container-800px">
                <div data-w-id="40229d38-0fcf-7bfc-4ed9-341b68b0aed5" style="opacity: 1;" class="faq-container">
                    <div data-delay="0" data-hover="false" data-w-id="40229d38-0fcf-7bfc-4ed9-341b68b0aed6"
                        style="height: 84px;" class="faq-item-wrapper w-dropdown">
                        <div class="faq-top-wrapper w-dropdown-toggle" id="w-dropdown-toggle-2"
                            aria-controls="w-dropdown-list-2" aria-haspopup="menu" aria-expanded="false" role="button"
                            tabindex="0">
                            <div class="faq-question">Can I request a new feature for Apps?</div><img
                                src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77b4c234e76c5b61b70b2a_plus-icon.svg"
                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                alt="" class="open-close-icon">
                        </div>
                        <nav class="faq-body w-dropdown-list" id="w-dropdown-list-2"
                            aria-labelledby="w-dropdown-toggle-2">
                            <div class="answer-wrapper">
                                <p class="faq-answer-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                                    ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
                                    faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                                    tristique posuere.</p>
                            </div>
                        </nav>
                    </div>
                    <div data-delay="0" data-hover="false" data-w-id="40229d38-0fcf-7bfc-4ed9-341b68b0aedf"
                        style="height: 84px;" class="faq-item-wrapper w-dropdown">
                        <div class="faq-center-wrapper w-dropdown-toggle" id="w-dropdown-toggle-3"
                            aria-controls="w-dropdown-list-3" aria-haspopup="menu" aria-expanded="false" role="button"
                            tabindex="0">
                            <div class="faq-question">Can I download Apps data into Excel or CSV?</div><img
                                src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77b4c234e76c5b61b70b2a_plus-icon.svg"
                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                alt="" class="open-close-icon">
                        </div>
                        <nav class="faq-body w-dropdown-list" id="w-dropdown-list-3"
                            aria-labelledby="w-dropdown-toggle-3">
                            <div class="answer-wrapper">
                                <p class="faq-answer-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                                    ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
                                    faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                                    tristique posuere.</p>
                            </div>
                        </nav>
                    </div>
                    <div data-delay="0" data-hover="false" data-w-id="40229d38-0fcf-7bfc-4ed9-341b68b0aee8"
                        style="height: 84px;" class="faq-item-wrapper w-dropdown">
                        <div class="faq-center-wrapper w-dropdown-toggle" id="w-dropdown-toggle-4"
                            aria-controls="w-dropdown-list-4" aria-haspopup="menu" aria-expanded="false" role="button"
                            tabindex="0">
                            <div class="faq-question">Does Apps team offer 1-on-1 support?</div><img
                                src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77b4c234e76c5b61b70b2a_plus-icon.svg"
                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                alt="" class="open-close-icon">
                        </div>
                        <nav class="faq-body w-dropdown-list" id="w-dropdown-list-4"
                            aria-labelledby="w-dropdown-toggle-4">
                            <div class="answer-wrapper">
                                <p class="faq-answer-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                                    ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
                                    faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                                    tristique posuere.</p>
                            </div>
                        </nav>
                    </div>
                    <div data-delay="0" data-hover="false" data-w-id="40229d38-0fcf-7bfc-4ed9-341b68b0aef1"
                        style="height: 84px;" class="faq-item-wrapper w-dropdown">
                        <div class="faq-bottom-wrapper w-dropdown-toggle" id="w-dropdown-toggle-5"
                            aria-controls="w-dropdown-list-5" aria-haspopup="menu" aria-expanded="false" role="button"
                            tabindex="0">
                            <div class="faq-question">Can I invite my teammates to Apps?</div><img
                                src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77b4c234e76c5b61b70b2a_plus-icon.svg"
                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                alt="" class="open-close-icon">
                        </div>
                        <nav class="faq-body w-dropdown-list" id="w-dropdown-list-5"
                            aria-labelledby="w-dropdown-toggle-5">
                            <div class="answer-wrapper last">
                                <p class="faq-answer-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                                    ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
                                    faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                                    tristique posuere.</p>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <section id="patreon" class="section">
            <assistant-apps-patreon-list />
        </section>

        <footer data-w-id="71417737-5b4b-a09e-2591-ff5af838e990" class="footer" style="opacity: 1;">
            <div class="container-1180px">
                <div class="basic-grid footer-top">
                    <div id="w-node-_71417737-5b4b-a09e-2591-ff5af838e993-f838e990" class="footer-column-1"><a href="/"
                            aria-current="page" class="footer-logo w-inline-block w--current"><img
                                src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/60a7cf1142adae13ec1cc408_logo.svg"
                                alt="Apps Webflow Template - Logo"></a>
                        <p class="footer-paragraph">A simple, yet effective way to be more productive.</p>
                        <div class="footer-social-media"><a href="https://facebook.com"
                                class="social-icon w-inline-block"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f08320a4b3da7b4_facebook-logo.svg"
                                    alt="Facebook Icon - Apps Webflow Template"></a>
                            <a href="https://twitter.com" class="social-icon w-inline-block"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f08322c303da7b6_twitter-logo.svg"
                                    alt="Twitter Icon - Apps Webflow Template"></a>
                            <a href="https://instagram.com" class="social-icon w-inline-block"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f083253593da7b5_instagram-logo.svg"
                                    alt="Instagram Icon - Apps Webflow Template"></a>
                            <a href="https://linkedin.com" class="social-icon w-inline-block"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f0832b4df3da7b7_linkedin-logo.svg"
                                    alt="LinkedIn Icon - Apps Webflow Template"></a>
                        </div>
                    </div>
                    <div id="w-node-_06ca93af-6509-e5f3-2f23-17e35bbeb58f-f838e990" class="footer-column-2">
                        <h4 class="footer-title">Menu</h4>
                        <ul role="list" class="footer-list w-list-unstyled">
                            <li class="footer-list-item"><a href="/" aria-current="page"
                                    class="nav-link-footer w--current">Home v1</a></li>
                            <li class="footer-list-item"><a href="/home-v2" class="nav-link-footer">Home v2</a></li>
                            <li class="footer-list-item"><a href="/about-us" class="nav-link-footer">About Us</a></li>
                            <li class="footer-list-item"><a href="/blog" class="nav-link-footer">Blog</a></li>
                            <li class="footer-list-item"><a href="/contact-us" class="nav-link-footer">Support</a></li>
                            <li class="footer-list-item"><a href="/careers" class="nav-link-footer">Careers</a></li>
                            <li class="footer-list-item"><a href="/job/ios-ui-ux-designer" class="nav-link-footer">Job
                                    Post</a></li>
                            <li class="footer-list-item"><a href="/reviews" class="nav-link-footer">Reviews</a></li>
                        </ul>
                    </div>
                    <div id="w-node-beb69711-6805-67f8-ca3c-94cfe2e04c55-f838e990" class="footer-column-3">
                        <h4 class="footer-title">Utility Pages</h4>
                        <ul role="list" class="footer-list w-list-unstyled">
                            <li class="footer-list-item"><a href="/utility-pages/styleguide"
                                    class="nav-link-footer">Styleguide</a></li>
                            <li class="footer-list-item"><a href="https://appstemplate.webflow.io/404"
                                    class="nav-link-footer">404 Not Found</a></li>
                            <li class="footer-list-item"><a href="https://appstemplate.webflow.io/401"
                                    class="nav-link-footer">Password Protected</a></li>
                            <li class="footer-list-item"><a href="/utility-pages/licenses"
                                    class="nav-link-footer">Licenses</a></li>
                            <li class="footer-list-item"><a href="/utility-pages/start-here"
                                    class="nav-link-footer">Start Here</a></li>
                            <li class="footer-list-item"><a href="/utility-pages/changelog"
                                    class="nav-link-footer">Changelog</a></li>
                            <li class="footer-list-item"><a href="https://brixtemplates.com/more-templates"
                                    class="nav-link-footer special">Browse More Templates</a></li>
                        </ul>
                    </div>
                    <div id="w-node-_71417737-5b4b-a09e-2591-ff5af838e99f-f838e990" class="footer-column-4">
                        <h4 class="footer-title">Download our App</h4>
                        <p class="footer-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio
                            egestas quam porta.</p>
                        <div class="_2-buttons-container"><a href="https://www.apple.com/ios/app-store/"
                                class="app-download-button small footer-button w-inline-block"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f08323df43da790_app-store-button.svg"
                                    alt="Apps Store - Apps Webflow Template" class="app-store-image small"></a>
                            <a href="https://play.google.com/store"
                                class="app-download-button small w-inline-block"><img
                                    src="https://assets.website-files.com/5e77af6be7efaf1373a0a3cb/5e77af6b1f0832838a3da798_play-store-button.svg"
                                    alt="Google Play - Apps Webflow Template" class="play-store-image small"></a>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="copyright">© Copyright Apps | Designed by <a href="https://brixtemplates.com/">BRIX
                            Templates</a> - Powered by <a href="https://webflow.com/">Webflow</a></div>
                </div>
            </div>
        </footer>
    </div>
    <img data-0="transform:rotate(0deg);left:100vw;" data-500="transform:rotate(-10deg);left:90vw;"
        data-2000="transform:rotate(-10deg);left:90vw;" data-2500="transform:rotate(0deg);left:100vw;"
        src="./assets/img/sentinalBlue.png" class="parallax-sentinalBlue hidden-in-mobile" alt="image with parallax" />

</body>
<script async defer src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<script async defer src="https://assistantapps.github.io/WebComponents/build/bundle.js"></script>
<script async defer src="./assets/js/skrollr.min.js"></script>
<script async defer src="./assets/js/custom.js"></script>

</html>

</html>