<div class="header">
    <div class="container-nav noselect">
        <div class="header-left-side">
            <a href="/" class="navbar-logo hidden-in-desktop">
                <img src="/assets/favicon/apple-touch-icon-76x76.png" alt="AssistantNMS - Logo"
                    class="hidden-in-mobile">
                <h4>Assistant for No Man's Sky</h4>
            </a>
            <nav role="navigation" class="nav-menu hidden-in-mobile">
                <div class="header-dropdown">
                    <input type="checkbox" />
                    <div class="dropdown-overlay"></div>
                    <div class="header-dropdown-toggle">
                        <div class="dropdown-text">Pages&nbsp;<span class="dropdown-icon"></span></div>
                    </div>
                    <div class="dropdown-list">
                        <div class="mega-menu-container">
                            <div class="menu-column">
                                <h4 class="mega-menu-title">Info</h4>
                                <div class="menu-section-content">
                                    {{#if showHome}}
                                    <a href="/" class="max-1-line">Home</a>
                                    {{/if}}
                                    <a href="{{navigation.thankyou}}" class="max-1-line">Thank you 💖</a>
                                    <a href="{{navigation.contributors}}" class="max-1-line">Contributors</a>
                                    <a href="{{assistantApps.support}}" class="max-1-line">Get Support</a>
                                    <a href="{{assistantApps.discord}}" class="max-1-line">Discord</a>
                                    <br />
                                    <a href="{{assistantApps.privacyPolicy}}" class="max-1-line">Privacy Policy</a>
                                    <a href="{{assistantApps.termsAndConditions}}" class="max-1-line">Terms &amp;
                                        Conditions</a>
                                </div>
                            </div>
                            <div class="menu-column">
                                <h4 class="mega-menu-title">Apps &amp; Tools</h4>
                                <div class="menu-section-content">
                                    <a href="{{assistantNms.webApp}}" class="max-1-line" target="_blank"
                                        rel="noopener noreferrer">AssistantNMS WebApp</a>
                                    <a href="{{assistantNms.webApi}}" class="max-1-line" target="_blank"
                                        rel="noopener noreferrer">AssistantNMS Api</a>
                                    <a href="{{assistantApps.rootUrl}}" class="max-1-line" target="_blank"
                                        rel="noopener noreferrer">AssistantApps</a>
                                    <a href="{{assistantApps.tools}}" class="max-1-line" target="_blank"
                                        rel="noopener noreferrer">Translation tool</a>
                                </div>
                            </div>
                            <div class="menu-column">
                                <h4 class="mega-menu-title">Other projects</h4>
                                <div class="menu-section-content">
                                    <a href="{{nmscd.home}}" class="max-1-line" target="_blank"
                                        rel="noopener noreferrer">NMSCD</a>
                                    <a href="{{nmscd.cmpt}}" class="max-1-line" target="_blank"
                                        rel="noopener noreferrer">Community Mission Tracker</a>
                                    <a href="{{nmscd.expeditionAlphabet}}" class="max-1-line" target="_blank"
                                        rel="noopener noreferrer">Expedition Alphabet</a>
                                    <a href="{{nmscd.communitySearch}}" class="max-1-line" disabled target="_blank"
                                        rel="noopener noreferrer">Community Search (coming soon)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{{navigation.thankyou}}" class="nav-link">Thank You</a>
                <a href="{{navigation.contributors}}" class="nav-link">Contributors</a>
                <a href="{{assistantApps.support}}" class="nav-link" target="_blank" rel="noopener noreferrer">Get
                    Support</a>
            </nav>
        </div>
        <div class="header-right-side hidden-in-mobile">
            <div class="nav-button">
                <a href="/Downloads.html" class="button-secondary">
                    <img src="/assets/img/download.png" alt="AssistantNMS - Logo" class="mg-right-8px">
                    <div class="button-text">Download</div>
                </a>
            </div>
        </div>
        <nav class="navbar-mobile hidden-in-desktop" onclick="navbarTap(this)">
            <div class="navbar-content">
                <h4>Other pages</h4>
                <a href="{{navigation.thankyou}}" class="max-1-line">Thank you 💖</a>
                <a href="{{navigation.contributors}}" class="max-1-line">Contributors</a>
                <a href="{{navigation.downloads}}" class="max-1-line">Downloads</a>
                <a href="{{assistantApps.support}}" class="max-1-line">Get Support</a>
                <br />
                <h4>External links</h4>
                <a href="{{assistantApps.discord}}" class="max-1-line">Discord</a>
                <a href="{{assistantApps.privacyPolicy}}" class="max-1-line">Privacy Policy</a>
                <a href="{{assistantApps.termsAndConditions}}" class="max-1-line">Terms &amp; Conditions</a>
                <br />
                <h4>Apps &amp; Tools</h4>
                <a href="{{assistantNms.webApp}}" class="max-1-line" target="_blank"
                    rel="noopener noreferrer">AssistantNMS
                    WebApp</a>
                <a href="{{assistantNms.webApi}}" class="max-1-line" target="_blank"
                    rel="noopener noreferrer">AssistantNMS
                    Api</a>
                <a href="{{assistantApps.rootUrl}}" class="max-1-line" target="_blank"
                    rel="noopener noreferrer">AssistantApps</a>
                <a href="{{assistantApps.tools}}" class="max-1-line" target="_blank"
                    rel="noopener noreferrer">Translation
                    tool</a>
                <br />
                <h4>Other projects</h4>
                <a href="{{nmscd.home}}" class="max-1-line" target="_blank" rel="noopener noreferrer">NMSCD</a>
                <a href="{{nmscd.cmpt}}" class="max-1-line" target="_blank" rel="noopener noreferrer">Community Mission
                    Tracker</a>
                <a href="{{nmscd.expeditionAlphabet}}" class="max-1-line" target="_blank"
                    rel="noopener noreferrer">Expedition Alphabet</a>
                <a href="{{nmscd.communitySearch}}" class="max-1-line" disabled target="_blank"
                    rel="noopener noreferrer">Community Search (coming soon)</a>
            </div>
            <div class="burger-menu"><span></span></div>
            <div class="burger-menu"><span></span></div>
            <div class="burger-menu"><span></span></div>
        </nav>
    </div>
</div>