<div class="header">
    <div class="container-nav noselect">
        <div class="header-left-side">
            <a href="/" class="navbar-logo hidden-in-desktop" title="home">
                <img src="/assets/favicon/apple-touch-icon-76x76.png" alt="AssistantNMS - Logo"
                    class="hidden-in-mobile">
                <h4>Assistant for No Man's Sky</h4>
            </a>
            <nav role="navigation" class="nav-menu hidden-in-mobile">
                <div class="header-dropdown">
                    <input type="checkbox" />
                    <div class="dropdown-overlay"></div>
                    <div class="header-dropdown-toggle">
                        <div class="dropdown-text">Pages&nbsp;<span class="dropdown-icon">🞃</span></div>
                    </div>
                    <div class="dropdown-list">
                        <div class="mega-menu-container">
                            <div class="menu-column">
                                <h4 class="mega-menu-title">Info</h4>
                                <div class="menu-section-content">
                                    {{#if showHome}}
                                    <a href="/" class="max-1-line" title="home">Home</a>
                                    {{/if}}
                                    <a href="{{navigation.thankyou}}" class="max-1-line" title="Thank you 💖">Thank you
                                        💖</a>
                                    <a href="{{navigation.contributors}}" class="max-1-line"
                                        title="Contributors">Contributors</a>
                                    <a href="{{navigation.downloads}}" class="max-1-line"
                                        title="Downloads">Downloads</a>
                                    <br />
                                    <a href="{{urlref assistantApps.support}}" class="max-1-line"
                                        title="Get Support">Get
                                        Support</a>
                                    <a href="{{urlref assistantApps.discord}}" class="max-1-line"
                                        title="Discord">Discord</a>
                                    <br />
                                    <a href="{{navigation.privacyPolicy}}" class="max-1-line" title="Privacy Policy"
                                        target="_blank" rel="noopener noreferrer">Privacy Policy</a>
                                    <a href="{{navigation.termsAndConditions}}" class="max-1-line"
                                        title="Terms and Conditions" target="_blank" rel="noopener noreferrer">Terms
                                        &amp;Conditions</a>
                                </div>
                            </div>
                            <div class="menu-column">
                                <h4 class="mega-menu-title">Apps &amp; Tools</h4>
                                <div class="menu-section-content">
                                    <a href="{{urlref assistantNms.webApp}}" class="max-1-line" target="_blank"
                                        rel="noopener noreferrer" title="AssistantNMS WebApp">AssistantNMS WebApp</a>
                                    <a href="{{urlref assistantNms.webApi}}" class="max-1-line" target="_blank"
                                        rel="noopener noreferrer" title="AssistantNMS Api">AssistantNMS Api</a>
                                    <a href="{{urlref assistantApps.rootUrl}}" class="max-1-line" target="_blank"
                                        rel="noopener noreferrer" title="AssistantApps">AssistantApps</a>
                                    <a href="{{urlref assistantApps.tools}}" class="max-1-line" target="_blank"
                                        rel="noopener noreferrer" title="Translation tool">Translation tool</a>
                                </div>
                            </div>
                            <div class="menu-column">
                                <h4 class="mega-menu-title">Other projects</h4>
                                <div class="menu-section-content">
                                    <a href="{{urlref nmscd.home}}" class="max-1-line" target="_blank"
                                        rel="noopener noreferrer" title="NMSCD">NMSCD</a>
                                    <a href="{{urlref nmscd.cmpt}}" class="max-1-line" target="_blank"
                                        rel="noopener noreferrer" title="Community Mission Tracker">Community Mission
                                        Tracker</a>
                                    <a href="{{urlref nmscd.expeditionAlphabet}}" class="max-1-line" target="_blank"
                                        rel="noopener noreferrer" title="Expedition Alphabet">Expedition Alphabet</a>
                                    <a href="{{urlref nmscd.communitySearch}}" class="max-1-line" target="_blank"
                                        rel="noopener noreferrer" title="Community Search">Community Search</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{{navigation.thankyou}}" class="nav-link" title="Thank You">Thank You</a>
                <a href="{{navigation.contributors}}" class="nav-link" title="Contributors">Contributors</a>
                <a href="{{urlref assistantApps.support}}" class="nav-link" target="_blank" rel="noopener noreferrer"
                    title="Get support">Get
                    Support</a>
            </nav>
        </div>
        {{#if showDownloadButton}}
        <div class="header-right-side hidden-in-mobile">
            <div class="nav-button">
                <a href="/Downloads.html" class="button-secondary" title="Downloads">
                    <img src="/assets/img/download.png" alt="AssistantNMS - Logo" class="mg-right-8px">
                    <div class="button-text">Download</div>
                </a>
            </div>
        </div>
        {{/if}}
        <nav class="navbar-mobile hidden-in-desktop">
            <input type="checkbox" onclick="mobileNavbarOnTap(this, event)" />
            <div class="navbar-content">
                <h4>Other pages</h4>
                {{#if showHome}}
                <a href="/" class="max-1-line" title="Home">Home</a>
                {{/if}}
                <a href="{{navigation.thankyou}}" class="max-1-line" title="Thank you">Thank you 💖</a>
                <a href="{{navigation.contributors}}" class="max-1-line" title="Contributors">Contributors</a>
                <a href="{{navigation.downloads}}" class="max-1-line" title="Downloads">Downloads</a>
                <br />
                <a href="{{urlref assistantApps.support}}" class="max-1-line" title="Get Support">Get Support</a>
                <a href="{{urlref assistantApps.discord}}" class="max-1-line" title="Discord">Discord</a>
                <br />
                <h4>Other links</h4>
                <a href="{{urlref assistantApps.discord}}" class="max-1-line" title="Discord">Discord</a>
                <a rel="me" href="{{urlref assistantApps.mastodon}}" class="max-1-line" title="Mastodon">Mastodon</a>
                <a href="{{navigation.privacyPolicy}}" class="max-1-line" title="Privacy Policy" target="_blank"
                    rel="noopener noreferrer">Privacy
                    Policy</a>
                <a href="{{navigation.termsAndConditions}}" class="max-1-line" title="Terms & Conditions"
                    target="_blank" rel="noopener noreferrer">Terms &amp;
                    Conditions</a>
                <br />
                <h4>Apps &amp; Tools</h4>
                <a href="{{urlref assistantNms.webApp}}" class="max-1-line" target="_blank" rel="noopener noreferrer"
                    title="AssistantNMS WebApp">AssistantNMS WebApp</a>
                <a href="{{urlref assistantNms.webApi}}" class="max-1-line" target="_blank" rel="noopener noreferrer"
                    title="AssistantNMS Api">AssistantNMS Api</a>
                <a href="{{urlref assistantApps.rootUrl}}" class="max-1-line" target="_blank" rel="noopener noreferrer"
                    title="AssistantApps">AssistantApps</a>
                <a href="{{urlref assistantApps.tools}}" class="max-1-line" target="_blank" rel="noopener noreferrer"
                    title="Translation tool">Translation tool</a>
                <br />
                <h4>Other projects</h4>
                <a href="{{urlref nmscd.home}}" class="max-1-line" target="_blank" rel="noopener noreferrer"
                    title="NMSCD">NMSCD</a>
                <a href="{{urlref nmscd.cmpt}}" class="max-1-line" target="_blank" rel="noopener noreferrer"
                    title="Community Mission Progress Tracker">Community Mission Progress Tracker</a>
                <a href="{{urlref nmscd.expeditionAlphabet}}" class="max-1-line" target="_blank"
                    rel="noopener noreferrer" title="Expedition Alphabet">Expedition Alphabet</a>
                <a href="{{urlref nmscd.communitySearch}}" class="max-1-line" target="_blank" rel="noopener noreferrer"
                    title="Community Search">Community Search</a>
            </div>
            <div class="burger-menu"><span></span></div>
            <div class="burger-menu"><span></span></div>
            <div class="burger-menu"><span></span></div>
        </nav>
    </div>
</div>